PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-sip==12.15.0
PyQt-Fluent-Widgets==1.10.5
PyQt5-Frameless-Window==0.7.5
Pillow==10.4.0
colorthief==0.2.1
matplotlib==3.7.5
numpy==1.24.4
scipy==1.10.1
darkdetect==0.8.0
fonttools==4.57.0
packaging==25.0
python-dateutil==2.9.0.post0
six==1.17.0
zipp==3.20.2
importlib_resources==6.4.5
pywin32==311
contourpy==1.1.1
kiwisolver==1.4.7
cycler==0.12.1
pyparsing==3.1.4